# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# Plugin-specific
android/.gradle/
android/captures/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine/
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.swift

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
ios/Runner.xcworkspace/
DerivedData/
.xcresult/
.idea/

# VS Code
.vscode/
*.code-workspace

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Misc
*.log
*.lock
*.tmp
*.DS_Store
*.bak
*.swp
*.swo
*.orig
*.rej

# Web build
web/.dart_tool/
web/build/

# Linux
linux/flutter/
linux/.dart_tool/
linux/build/

# Windows
windows/flutter/
windows/.dart_tool/
windows/build/

# Fuchsia
.fuchsia/

# Coverage
coverage/

# ENV
.env
